name: ci
on:
  push:
    branches-ignore:
      - "github-pages"
  pull_request: {}
env:
  # renovate: datasource=github-tags depName=golangci/golangci-lint
  GOLANGCI_LINT_VERSION: "v2.7.2"
  # renovate: datasource=go
  GOLANG_VERSION: "^1.25.5"
jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      go: ${{ steps.filter.outputs.go }}
      config: ${{ steps.filter.outputs.config }}
      docker: ${{ steps.filter.outputs.docker }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: |
            go:
              - '**/*.go'
              - 'go.mod'
              - 'go.sum'
            config:
              - '.github/workflows/ci.yml'
              - '.goreleaser.yml'
              - '.golangci.yaml'
              - 'Makefile'
            docker:
              - 'Dockerfile'
  lint:
    if: |
      (needs.changes.outputs.go == 'true') ||
      (needs.changes.outputs.config == 'true')
    runs-on: ubuntu-latest
    needs:
      - changes
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GOLANG_VERSION }}
      - uses: golangci/golangci-lint-action@v8
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: ${{ env.GOLANGCI_LINT_VERSION }}

          # Optional: working directory, useful for monorepos
          # working-directory: somedir

          # Optional: golangci-lint command line arguments.
          args: --timeout=3600s

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # only-new-issues: true

          # Optional: if set to true then the action will use pre-installed Go.
          # skip-go-installation: true

          # Optional: if set to true then the action don't cache or restore ~/go/pkg.
          # skip-pkg-cache: true

          # Optional: if set to true then the action don't cache or restore ~/.cache/go-build.
          # skip-build-cache: true
  build:
    if: |
      (needs.changes.outputs.go == 'true') ||
      (needs.changes.outputs.config == 'true')
    runs-on: ubuntu-latest
    needs:
      - changes
      - lint
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GOLANG_VERSION }}
      - run: make code/build
  build-cross:
    if: |
      (needs.changes.outputs.go == 'true') ||
      (needs.changes.outputs.config == 'true')
    runs-on: ubuntu-latest
    env:
      DOCKER_CLI_EXPERIMENTAL: "enabled"
    needs:
      - changes
      - lint
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GOLANG_VERSION }}
      - run: make code/build-cross
  test:
    if: |
      (needs.changes.outputs.go == 'true') ||
      (needs.changes.outputs.config == 'true') ||
      (needs.changes.outputs.docker == 'true')
    runs-on: ubuntu-latest
    needs:
      - changes
      - lint
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GOLANG_VERSION }}
      - run: |
          if [ -f /usr/local/bin/dockerize ]; then
            echo "dockerize found; skipping installation";
          else
            wget https://github.com/jwilder/dockerize/releases/download/v0.6.0/dockerize-linux-amd64-v0.6.0.tar.gz \
              && sudo tar -C /usr/local/bin -xzvf dockerize-linux-amd64-v0.6.0.tar.gz \
              && rm dockerize-linux-amd64-v0.6.0.tar.gz;
          fi
      - run: make setup/services
      - run: dockerize -wait tcp://localhost:8088 -timeout 5m
      - run: dockerize -wait tcp://localhost:8181 -timeout 5m
      - run: docker logs keycloak
      - run: make test/all
      - run: make test/coverage
      - run: go install github.com/mattn/goveralls@latest
      - env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: goveralls -coverprofile=c.out -service=github
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: "junit.xml"
