name: docs
on:
  push:
    branches-ignore:
      - "github-pages"
  pull_request: {}
jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      md: ${{ steps.filter.outputs.md }}
      config: ${{ steps.filter.outputs.config }}
    steps:
      - uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: |
            md:
              - '**/*.md'
            config:
              - '.github/workflows/docs.yml'
              - 'mkdocs.yml'
  docs-build:
    if: |
      (needs.changes.outputs.md == 'true') ||
      (needs.changes.outputs.config == 'true')
    runs-on: ubuntu-latest
    needs:
      - changes
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-material==8.0.2
      - run: pip install mkdocs-awesome-pages-plugin==2.6.1
      - run: mkdocs build
  docs-deploy:
    needs:
      - docs-build
      - changes
    if: |
      ((needs.changes.outputs.md == 'true') || (needs.changes.outputs.config == 'true')) &&
      (github.ref == 'refs/heads/master')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-material==8.0.2
      - run: pip install mkdocs-awesome-pages-plugin==2.6.1
      - run: mkdocs gh-deploy --force
