name: docs
on:
  push:
    branches-ignore:
      - "github-pages"
  pull_request: {}
env:
  # renovate: datasource=docker depName=squidfunk/mkdocs-material
  MKDOCS_MATERIAL_VERSION: "9.5.15"
  # renovate: datasource=pypi depName=mkdocs-awesome-pages-plugin
  MKDOCS_AWESOME_PAGES_PLUGIN_VERSION: "2.8.0"
jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      md: ${{ steps.filter.outputs.md }}
      config: ${{ steps.filter.outputs.config }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: |
            md:
              - '**/*.md'
            config:
              - '.github/workflows/docs.yml'
              - 'mkdocs.yml'
  docs-build:
    if: |
      (needs.changes.outputs.md == 'true') ||
      (needs.changes.outputs.config == 'true')
    runs-on: ubuntu-latest
    needs:
      - changes
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install mkdocs-material==$MKDOCS_MATERIAL_VERSION
      - run: pip install mkdocs-awesome-pages-plugin==$MKDOCS_AWESOME_PAGES_PLUGIN_VERSION
      - run: mkdocs build
  docs-deploy:
    needs:
      - docs-build
      - changes
    if: |
      ((needs.changes.outputs.md == 'true') || (needs.changes.outputs.config == 'true')) &&
      (github.ref == 'refs/heads/master')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install mkdocs-material==$MKDOCS_MATERIAL_VERSION
      - run: pip install mkdocs-awesome-pages-plugin==$MKDOCS_AWESOME_PAGES_PLUGIN_VERSION
      - run: mkdocs gh-deploy --force
